<style>

a {

color: #FFD54F

}

<style>

<style>

a:hover {

color: #E0F2F1

}

</style>

<style>

body {
background color: #B2DFDB;
font: Arial;
fontsize: 14 pt;

}

</style>

<style>

header{

background color: #004D40
color: #000000

}

<style>

h1 {

lineheight: 75px

}
</style>

<style>

article {

background color: #00796B;
padding: 5px;

}

</style>

<style>

span {
color: #cc0000
font: bold

}